Repository credfeto/GallerySync, changes with the labels that .github/labeler.yml gives for each.
All labels: C#, C# Project, C# Solution, Powershell, SQL, Solidity, unit-tests, .NET update, Config Change, Static Code Analysis Rules, Migration Script, Legal Text, Change Log, Read Me, Setup, Markdown, github-actions, BuildHelpers, Credfeto.Gallery.DeleteCorruptImage, Credfeto.Gallery.FileNaming, Credfeto.Gallery.Image, Credfeto.Gallery.ObjectModel, Credfeto.Gallery.OutputBuilder, Credfeto.Gallery.Repository, Credfeto.Gallery.Scanner, Credfeto.Gallery.SiteIndexBuilder, Credfeto.Gallery.Storage, Credfeto.Gallery.Upload, Credfeto.Gallery.UploadData

.github/labeler.yml:

"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Solidity":
 - any: [ './**/*.sol' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]
".NET update":
 - any: [ 'src/global.json' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Markdown":
 - any: [ './**/*.md' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"BuildHelpers":
 - any: [ 'src/BuildHelpers/**/*' ]
"Credfeto.Gallery.DeleteCorruptImage":
 - any: [ 'src/Credfeto.Gallery.DeleteCorruptImage/**/*' ]
"Credfeto.Gallery.FileNaming":
 - any: [ 'src/Credfeto.Gallery.FileNaming/**/*' ]
"Credfeto.Gallery.Image":
 - any: [ 'src/Credfeto.Gallery.Image/**/*' ]
"Credfeto.Gallery.ObjectModel":
 - any: [ 'src/Credfeto.Gallery.ObjectModel/**/*' ]
"Credfeto.Gallery.OutputBuilder":
 - any: [ 'src/Credfeto.Gallery.OutputBuilder/**/*' ]
"Credfeto.Gallery.Repository":
 - any: [ 'src/Credfeto.Gallery.Repository/**/*' ]
"Credfeto.Gallery.Scanner":
 - any: [ 'src/Credfeto.Gallery.Scanner/**/*' ]
"Credfeto.Gallery.SiteIndexBuilder":
 - any: [ 'src/Credfeto.Gallery.SiteIndexBuilder/**/*' ]
"Credfeto.Gallery.Storage":
 - any: [ 'src/Credfeto.Gallery.Storage/**/*' ]
"Credfeto.Gallery.Upload":
 - any: [ 'src/Credfeto.Gallery.Upload/**/*' ]
"Credfeto.Gallery.UploadData":
 - any: [ 'src/Credfeto.Gallery.UploadData/**/*' ]

[FF-1429] - Update .github/workflows/build-and-publish-pre-release.yml to match the template repo
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/build-and-publish-release.yml to match the template repo
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[FF-1429] - Update .github/dependabot.yml to match the template repo
  .github/dependabot.yml
Labels: none

[FF-1429] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[FF-3881] - Updated DotNet SDK to 6.0.201
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[FF-1429] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/stale.yml to match the template repo
  .github/workflows/stale.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/stale.yml to match the template repo
  .github/workflows/stale.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/reformat-sql.yml to match the template repo
  .github/workflows/reformat-sql.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/reformat-yaml.yml to match the template repo
  .github/workflows/reformat-yaml.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/stale.yml to match the template repo
  .github/workflows/stale.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/pr-update.yml to match the template repo
  .github/workflows/pr-update.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/pull-request.yml to match the template repo
  .github/workflows/pull-request.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/update-labels.yml to match the template repo
  .github/workflows/update-labels.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/pull-request.yml to match the template repo
  .github/workflows/pull-request.yml
Labels: github-actions

[FF-3881] - Updated DotNet SDK to 6.0.202
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[FF-1429] - Update .github/workflows/build-and-publish-pre-release.yml to match the template repo
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/rebase.yml to match the template repo
  .github/workflows/rebase.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/pull-request.yml to match the template repo
  .github/workflows/pull-request.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/codeql-analysis-csharp.yml to match the template repo
  .github/workflows/codeql-analysis-csharp.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/codeql-analysis-javascript.yml to match the template repo
  .github/workflows/codeql-analysis-javascript.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/codeql-analysis-python.yml to match the template repo
  .github/workflows/codeql-analysis-python.yml
Labels: github-actions
